<h1>Welcome to SpellManager App</h1>
<h2>Spell Books</h2>

<div class="spell-books">
    <% @spell_books.each do |spellbook| %>
    <% end %>
</div>

<div class="home_links">
    <div><%= link_to "All spells", spells_path %></div>
    <div><%= link_to "Books", books_path %></div>
</div>
