<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= link_to "View Book", book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a Book", new_book_path %>
<%= link_to "Back to Home", root_path %>