<h1>Add a Book</h1>
<%= render 'form', book: @book %>

<%= link_to "Create New Spell", new_spell_path %> &ensp;
<%= link_to "View Spells", spells_path %> &ensp;
<%= link_to "View Books", books_path %>  &ensp;
