<h1>Create New</h1>
<div>
  <span class="left"><%= link_to "All Spells", spells_path %></span>
  <span class="right"><%= link_to "Home", root_path %></span>
</div>
<br>
<br>
<div class="form">
    <%= render 'form', spell: @spell %>
<div>
